---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - create
  - get
  - list
  - update
  - watch
- apiGroups:
  - ansibleee.openstack.org
  resources:
  - openstackansibleees
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - k8s.cni.cncf.io
  resources:
  - network-attachment-definitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - keystone.openstack.org
  resources:
  - keystoneapis
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - keystone.openstack.org
  resources:
  - keystoneendpoints
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - keystone.openstack.org
  resources:
  - keystoneservices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mariadb.openstack.org
  resources:
  - mariadbdatabases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - nova.openstack.org
  resources:
  - nova
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - nova.openstack.org
  resources:
  - nova/finalizers
  verbs:
  - update
- apiGroups:
  - nova.openstack.org
  resources:
  - nova/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - nova.openstack.org
  resources:
  - novaapis
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - nova.openstack.org
  resources:
  - novaapis/finalizers
  verbs:
  - update
- apiGroups:
  - nova.openstack.org
  resources:
  - novaapis/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - nova.openstack.org
  resources:
  - novacells
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - nova.openstack.org
  resources:
  - novacells/finalizers
  verbs:
  - update
- apiGroups:
  - nova.openstack.org
  resources:
  - novacells/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - nova.openstack.org
  resources:
  - novaconductors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - nova.openstack.org
  resources:
  - novaconductors/finalizers
  verbs:
  - update
- apiGroups:
  - nova.openstack.org
  resources:
  - novaconductors/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - nova.openstack.org
  resources:
  - novaexternalcomputes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - nova.openstack.org
  resources:
  - novaexternalcomputes/finalizers
  verbs:
  - update
- apiGroups:
  - nova.openstack.org
  resources:
  - novaexternalcomputes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - nova.openstack.org
  resources:
  - novametadata
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - nova.openstack.org
  resources:
  - novametadata/finalizers
  verbs:
  - update
- apiGroups:
  - nova.openstack.org
  resources:
  - novametadata/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - nova.openstack.org
  resources:
  - novanovncproxies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - nova.openstack.org
  resources:
  - novanovncproxies/finalizers
  verbs:
  - update
- apiGroups:
  - nova.openstack.org
  resources:
  - novanovncproxies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - nova.openstack.org
  resources:
  - novaschedulers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - nova.openstack.org
  resources:
  - novaschedulers/finalizers
  verbs:
  - update
- apiGroups:
  - nova.openstack.org
  resources:
  - novaschedulers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - rabbitmq.openstack.org
  resources:
  - transporturls
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - create
  - get
  - list
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  verbs:
  - create
  - get
  - list
  - update
  - watch
- apiGroups:
  - security.openshift.io
  resourceNames:
  - anyuid
  resources:
  - securitycontextconstraints
  verbs:
  - use
