apiVersion: nova.openstack.org/v1beta1
kind: Nova
metadata:
  name: nova
spec:
  # This is the name of the single MariaDB CR we deploy today
  # The Service is labelled with app=mariadb,cr=mariadb-<MariaDB.Name>
  apiDatabaseInstance: openstack
  apiDatabaseUser: nova_api
  # This is the name of the single RabbitMqCluster CR we deploy today
  # The Service is labelled with
  # app.kubernetes.io/component=rabbitmq, app.kubernetes.io/name=<RabbitMqCluster.Name>
  apiMessageBusInstance: rabbitmq
  # This is the name of the KeystoneAPI CR we deploy today
  # The Service is labelled with service=keystone,internal=true
  keystoneInstance: keystone
  # This is the name of a Secret having fields according to the
  # passwordSelectors directly below and the passwordSelectors in each
  # NovaCellSpec instances
  # Today all the passwords are stored in the same Secret object named
  # osp-secret, but the openstack operator could create a nova specific
  # secret and pass it here in the future.
  secret: osp-secret
  passwordSelectors:
    service: NovaPassword
    apiDatabase: NovaAPIDatabasePassword
    cellDatabse: NovaCell0DatabasePassword
  serviceUser: nova
  debug:
    stopDBSync: False
    stopService: False
    preserveJob: False
  apiServiceTemplate:
    customServiceConfig: |
      # service config customization
      debug=True
    defaultConfigOverwrite:
      logging.conf: |
        # my custom logging configuration
    containerImage: quay.io/tripleozedcentos9/openstack-nova-api:current-tripleo
    replicate: 3
    nodeSelector: {}
    resources:
      limits:
        cpu: "0.5"
        memory: 512Mi
      requests:
        cpu: "0.1"
        memory: 200Mi
  schedulerServiceTemplate:
    customServiceConfig: |
      # service config customization
      debug=True
    defaultConfigOverwrite:
      policy.yaml: |
        # my custom policy
    containerImage: quay.io/tripleozedcentos9/openstack-nova-scheduler:current-tripleo
    replicate: 3
    nodeSelector: {}
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  metadataServiceTemplate:
    customServiceConfig: |
      # service config customization
      [DEFAULT]
      debug=True
      [api]
      # make sure this is in sync with the fact that this nova-metadata
      # service is expected to run on the top level
      local_metadata_per_cell = False
    defaultConfigOverwrite:
      logging.conf: |
        # my custom logging configuration
    containerImage: quay.io/tripleozedcentos9/openstack-nova-api:current-tripleo
    replicate: 3
    nodeSelector: {}
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  cellTemplates:
    cell0:
      cellDatabaseInstance: mariadb-cell0
      cellDatabaseUser: nova_cell0
      cellMessageBusInstance: rabbitmq
      # cell0 alway needs access to the API DB and MQ as it hosts the super
      # conductor. It will inherit the API DB and MQ access from the Nova CR
      # that creates it.
      hasAPIAccess: true
      conductorServiceTemplate:
        customServiceConfig: |
          # service config customization
          [DEFAULT]
          debug=True
        defaultConfigOverwrite:
          logging.conf: |
          # my custom logging configuration
        containerImage: quay.io/tripleozedcentos9/openstack-nova-conductor:current-tripleo
        replicate: 3
        nodeSelector: {}
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
      # we never need a metadata service in cell0 as there are no computes there
      metadataServiceTemplate: null
      # we never need novncproxy service in cell0
      noVNCProxyServiceTemplate: null
    cell1:
      cellDatabaseInstance: mariadb-cell1
      cellDatabaseUser: nova_cell1
      cellMessageBusInstance: rabbitmq-cell1
      # cell1 will have upcalls support. It will inherit the API DB and MQ
      # access from the Nova CR that creates it.
      hasAPIAccess: true
      conductorServiceTemplate:
        customServiceConfig: |
          # service config customization
          [DEFAULT]
          debug=True
        defaultConfigOverwrite:
          logging.conf: |
          # my custom logging configuration
        containerImage: quay.io/tripleozedcentos9/openstack-nova-conductor:current-tripleo
        replicate: 3
        nodeSelector: {}
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
      # we could decide not to add metadata service to this cell as there
      # is metadata at the top
      metadataServiceTemplate: null
      noVNCProxyServiceTemplate:
        customServiceConfig: |
          # service config customization
          [DEFAULT]
          debug=True
        defaultConfigOverwrite:
          logging.conf: |
          # my custom logging configuration
        containerImage: quay.io/tripleozedcentos9/openstack-nova-novncproxy:current-tripleo
        replicate: 3
        nodeSelector: {}
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
    cell2:
      cellDatabaseInstance: mariadb-cell2
      cellDatabaseUser: nova_cell2
      cellMessageBusInstance: rabbitmq-cell2
      # cell2 will not get the API DB and MQ connection info from the Nova CR
      hasAPIAccess: false
      conductorServiceTemplate:
        customServiceConfig: |
          # service config customization
          [DEFAULT]
          debug=True
        defaultConfigOverwrite:
          logging.conf: |
          # my custom logging configuration
        containerImage: quay.io/tripleozedcentos9/openstack-nova-conductor:current-tripleo
        replicate: 3
        nodeSelector: {}
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
      metadataServiceTemplate:
        customServiceConfig: |
          # service config customization
          [DEFAULT]
          debug=True
          [api]
          # make sure this is in sync with the fact that this nova-metadata
          # service is expected to run on the cell level
          local_metadata_per_cell = True
        defaultConfigOverwrite:
          logging.conf: |
            # my custom logging configuration
        # TODO: what is the name of the container for metadata?
        containerImage: quay.io/tripleozedcentos9/openstack-nova-metadata-api:current-tripleo
        replicate: 3
        nodeSelector: {}
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
      noVNCProxyServiceTemplate:
        customServiceConfig: |
          # service config customization
          [DEFAULT]
          debug=True
        defaultConfigOverwrite:
          logging.conf: |
          # my custom logging configuration
        containerImage: quay.io/tripleozedcentos9/openstack-nova-novncproxy:current-tripleo
        replicate: 3
        nodeSelector: {}
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
