apiVersion: nova.openstack.org/v1beta1
kind: Nova
metadata:
  name: nova-minimal-example
spec:
  apiDatabaseInstnace: openstack
  apiMessageBusInstance: default-security-context
  keystoneInstance: keystone
  secret: osp-secret
  # NOTE(gibi): if apiServiceTemplate is not specified still a NovaAPI CR
  # created with default configuration.
  # NOTE(gibi): We are not passing a Secret to the NovaAPI here any more. Nova
  # controller will push a Secret to NovaAPI CR automatically and NovaAPI will
  # hardcode which fields it will look at in that Secret.
  # TODO(gibi): Refactor secret handling that i) allows using Secret + field
  # selectors on the Nova CR level, but the NovaAPI CR should only take a
  # single Secret and no field selectors (i.e. field selectors will be
  # hardcoded). ii) The Nova CR should generate a separate Secret object to
  # NovaAPI. iii) Add usernames to the generated Secret.
  # NOTE(gibi): The ContainerImage, Replicas, NodeSelector,
  # CustomServiceConfig, DefaultConfigOverwrite, Resources are customizable
  # here but nothing else. Also all these fields has a meaningful default
  # value.
  schedulerServiceTemplate:
    secret: osp-secret
    containerImage: quay.io/tripleowallabycentos9/openstack-nova-scheduler:current-tripleo
  metadataServiceTemplate:
    cellName: null
    secret: osp-secret
    customServiceConfig: |
      # service config customization
      [DEFAULT]
      debug=True
      [api]
      # make sure this is in sync with the fact that this nova-metadata
      # service is expected to run on the top level
      local_metadata_per_cell = False
    # TODO: what is the name of the container for metadata?
    containerImage: quay.io/tripleowallabycentos9/openstack-nova-metadata-api:current-tripleo
  cellTemplates:
    cell0:
      cellName: cell0
      secret: osp-secret
      passwordSelectors:
        cellDatabase: NovaCell0DatabasePassword
        cellMessageBus: NovaCell0MessageBusPassword
      conductorServiceTemplate:
        cellName: cell0
        passwordSelectors:
          cellDatabase: NovaCell0DatabasePassword
          cellMessageBus: NovaCell0MessageBusPassword
        containerImage: quay.io/tripleowallabycentos9/openstack-nova-conductor:current-tripleo
      # we never need a metadata service in cell0 as there are no computes there
      metadataServiceTemplate: null
      # we never need novncproxy service in cell0
      noVNCProxyServiceTemplate: null
    cell1:
      cellName: cell1
      secret: osp-secret
      passwordSelectors:
        cellDatabase: NovaCell1DatabasePassword
        cellMessageBus: NovaCell1MessageBusPassword
      conductorServiceTemplate:
        cellName: cell1
        secret: osp-secret
        passwordSelectors:
          cellDatabase: NovaCell1DatabasePassword
          cellMessageBus: NovaCell1MessageBusPassword
        containerImage: quay.io/tripleowallabycentos9/openstack-nova-conductor:current-tripleo
      metadataServiceTemplate: null
      noVNCProxyServiceTemplate:
        CellName: cell1
        secret: osp-secret
        passwordSelectors:
          cellDatabase: NovaCell1DatabasePassword
        containerImage: quay.io/tripleowallabycentos9/openstack-nova-novncproxy:current-tripleo
