apiVersion: nova.openstack.org/v1beta1
kind: NovaCell
metadata:
  name: novacell1-with-upcall-sample
spec:
  # By having access to the API DB this cell has upcall support
  apiDatabaseHostname: openstack
  cellDatabaseHostname: openstack
  cellName: cell1
  keystoneAuthURL: http://keystone-public-openstack.apps-crc.testing
  secret: osp-secret
  serviceAccount: nova
